<!DOCTYPE html>
<html lang="ru-ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Дневник | Сахарный диабет</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container my-2">
    <h1>Уровень сахара</h1>
    <hr>

    <a th:href="@{/showNewSugarLevelRecordForm}" class="btn btn-primary btn-sm mb-3"> Добавить значение </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Уровень сахара, mmol/l</th>
            <th>Вид измерения</th>
            <th>Комментарий</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="SugarLevelRecord : ${listSugarLevelRecord}">
            <!-- форматирование вывода даты -->
            <td th:text="${#temporals.format(SugarLevelRecord.date, 'dd MMMM yyyy, HH:mm')}"></td>
            <!-- -------------------------- -->
            <td th:text="${SugarLevelRecord.sugarLevel}"></td>
            <td th:text="${SugarLevelRecord.measuringType}"></td>
            <td th:text="${SugarLevelRecord.comment}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${SugarLevelRecord.id})}" class="btn btn-primary">Изменить</a>
                <a th:href="@{/deleteSugarLevelRecord/{id}(id=${SugarLevelRecord.id})}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>