<!DOCTYPE html>
<html lang="ru-ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить новое значение</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/sugar.png">
</head>

<body>
<div class="container">
    <h1>Добавление новой записи</h1>
    <hr>
    <h2>Новое значение</h2>

    <form action="#" th:action="@{/saveSugarLevelRecord}" th:object="${sugarLevelRecord}" method="POST">

        <input type="datetime-local" th:field="*{date}" class="form-control mb-4 col-4" required>
        <div class="sugar" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Ошибка</div>

        <input type="number" th:field="*{sugarLevel}" placeholder="Уровень сахара" step="0.1" min="0" max="35" class="form-control mb-4 col-4" required>
        <div class="sugar" th:if="${#fields.hasErrors('sugarLevel')}" th:errors="*{sugarLevel}">Ошибка</div>

        <input type="text" th:field="*{measuringType}" list="measuringType_id" placeholder="Вид измерения" class="form-control mb-4 col-4" required>
        <div class="sugar" th:if="${#fields.hasErrors('measuringType')}" th:errors="*{measuringType}">Ошибка</div>
        <datalist id="measuringType_id">
            <option value="До еды">
            <option value="После еды (1 час)">
            <option value="После еды (2 часа)">
            <option value="Сон">
            <option value="Голодание">
        </datalist>

        <input type="text" th:field="*{comment}" placeholder="Комментарий" class="form-control mb-4 col-4">
        <div class="sugar" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">Ошибка</div>

        <button type="submit" class="btn btn-info col-2">Сохранить данные</button>
    </form>

    <hr>

    <a th:href="@{/}">Назад к списку</a>
</div>
</body>

</html>